
.DS_Store
*.swp
__pycache__/s0_load_scr.cpython-37.pyc
__pycache__/s0_load_scr.cpython-37.pyc
__pycache__/s0_load_scr.cpython-37.pyc
t.py
lym.json
__pycache__/c2_Direction_classifier.cpython-37.pyc
__pycache__/c2_Direction_classifier.cpython-37.pyc
__pycache__/c2_Direction_classifier.cpython-37.pyc
